.indicator {
    margin: 10px 0px;
    height: 10px;
    width: 178px;
    display: flex;
    flex-direction: row;
}
#weak {
    height: 10px;
    width: 58px;
    background-color: darkgrey;
    border-radius: 20px;
}
#medium {
    height: 10px;
    width: 58px;
    margin: 0px 2px;
    background-color: darkgrey;
    border-radius: 20px;
}
#strong {
    height: 10px;
    width: 58px;
    background-color: darkgrey;
    border-radius: 20px;
}